streamlit
# Paquetes base
langchain-core
langchain-community
langchain
# Paquetes específicos del proyecto
langchain-text-splitters
langchain-chroma
langchain-google-genai
pypdf
python-dotenv
chromadb
tiktoken
