streamlit
python-dotenv
tiktoken

# Dependencias base de LangChain
langchain            # Necesario para el nuevo 'langchain.chains'
langchain-core       # Necesario para ChatPromptTemplate, MessagesPlaceholder, HumanMessage, AIMessage
langchain-community
langchain-text-splitters
langchain-chroma

# Dependencias específicas de Google
langchain-google-genai 
pypdf 
chromadb
